{{!-- template for handlebars can render onto
button  to submit user info--}}


<div class="container">
    <h1> Hi there </h1>

    {{!-- row with #each burger (unless devoured) --}} 

    {{!-- undevoured buttons should have a button that make it devoured --}}

    {{!-- row with #each burger (if devoured) --}}

    {{!-- submit form  --}}


</div>